.Home {

  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.Searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  margin-top: -50px;
}

.search__input {
  border: none;
  height: 40px;
  padding-right: 50px;
  border-right: 5px solid rgb(102, 101, 101);
}

.search__button {
  margin-left: 30px;
}

.Job_Card {
  height: 300px;
  width: 400px;
  margin-bottom: 80px;
}

.Jobposts {
  margin-top: 120px;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.Jobposts__img {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: -50px;
  margin-left: 30px;
}

.Jobposts__desc {
  margin: 20px 0px 0px 20px;
  text-decoration: none;
}
.search__input{
  outline: none
}
